body {
	padding-top: 50px;
}

nav.navbar-local {
	background-color:rgb(241, 169, 160);
}

/*Corrigindo dimensionamento da navbar para collapse correto*/
.navbar-nav>li>a {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

a {
	color: rgb(211,50,87) !important;
}

li a:hover {
	background-color: rgb(211,50,87) !important;
	color: rgb(230, 230, 230) !important;
	border-radius: 10px;
}

li.active a {
	background-color: rgb(211,50,87) !important;
	color: rgb(230, 230, 230) !important;
	border-radius: 10px;
}

.navbar-local .navbar-toggle {
	border-color: rgb(211,50,87);
}

.navbar-toggle .icon-bar {
	background-color: rgb(211,50,87);
}

h1 {
	color:DeepPink;
	font-family:arial;
	font-size:2.5em;
	text-align:center;
}

h2 {
	color:black;
	font-family:arial;
	font-size:1.5em;
}

.jumbotron-local {
	text-align: center;
	background: url('../Images/jumbotron-background.jpg');
	background-position: center;
}

header{
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
}

section{
	width:600px;
	float:left;
	padding:10px;
}

footer{
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	padding:5px;
}