body {
	min-height: 2000px;
	padding-top: 70px;
}

nav.navbar-local {
	background-color:rgb(241, 169, 160);
}

/*Corrigindo dimensionamento da navbar para collapse correto*/
.navbar-nav>li>a {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

a {
	color: rgb(192, 57, 43) !important;
}

li a:hover {
	background-color: rgb(192, 57, 43) !important;
	color: rgb(255, 255, 255) !important;
	border-radius: 10px;
}

li.active a {
	background-color: rgb(192, 57, 43) !important;
	color: rgb(255, 255, 255) !important;
	border-radius: 10px;
}

.navbar-local .navbar-toggle {
	border-color: rgb(192, 57, 43);
}

.navbar-toggle .icon-bar {
	background-color: rgb(192, 57, 43) !important;
}

h1{
	color:DeepPink;
	font-family:arial;
	font-size:2.5em;
	text-align:center;
}

h2{
	color:black;
	font-family:arial;
	font-size:1.5em;
}


header{
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
}

section{
	width:600px;
	float:left;
	padding:10px;
}

footer{

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
