html {
	min-height: 100%;
	position: relative;
}

body {
	/*navbar*/
	padding-top: 50px;
	background-color: rgb(250, 230, 230);
	/*footer*/
	margin-bottom: 80px;
}

nav.navbar-local {
	background-color:rgb(241, 169, 160);
}

/*Corrigindo dimensionamento da navbar para collapse correto*/
.navbar-nav>li>a {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

a {
	color: rgb(211,50,87) !important;
}

li a:hover {
	background-color: rgb(211,50,87) !important;
	color: rgb(230, 230, 230) !important;
	border-radius: 10px;
}

li.active a {
	background-color: rgb(211,50,87) !important;
	color: rgb(230, 230, 230) !important;
	border-radius: 10px;
}

.navbar-local .navbar-toggle {
	border-color: rgb(211,50,87);
}

.navbar-toggle .icon-bar {
	background-color: rgb(211,50,87);
}

.page-header {
	border-bottom: none;
}

.h-header {
	background-color: #C93756;
	color: rgb(230, 230, 230);
	padding: 15px;
	border-radius: 30px;
	padding-left: 30px;
	text-align: left;
}

h1 {
	color:DeepPink;
	font-family:arial;
	font-size:2.5em;
	text-align:center;
}

h2 {
	color:black;
	font-family:arial;
	font-size:1.5em;
}

.jumbotron-local {
	margin: 0;
	text-align: center;
	background: url('../Images/jumbotron-background.jpg');
	background-position: center;
	background-size: 120%;
	color: rgb(125, 20, 36);
}

.carousel-img {
	float: right;
	width: 1140px;
	height: 500px !important;
}

header{
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
}

section{
	width:600px;
	float:left;
	padding:10px;
}

/*CSS do footer*/
footer{
	clear:both;
	padding:5px;
}

<<<<<<< HEAD
img.scratch{
	float: right;
=======
.footer {
	background-color: rgb(241, 169, 160);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}

.footer-left{
	float: left;
	border-right: 1px;
}

.footer-right{
	float: right;
	text-align: right;
>>>>>>> 07c2e629052f2e46ad9cb71903241bd30eb836e5
}