
h1{
	color:DeepPink;
	font-family:arial;
	font-size:2.5em;
	text-align:center;
}
h2{
	color:black;
	font-family:arial;
	font-size:1.5em;
}


header{
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
}

nav{
	line-height:30px;
	background-color:#eeeeee;
	height:600px;
	width:100px;
	float:left;
	padding:5px;
	}

section{
	width:600px;
	float:left;
	padding:10px;
	}

footer{
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	padding:5px;
	}